@import "../mixins.scss";

.app {
    &-top {
        position: relative;
        background: rgb(29,29,29);
        background: linear-gradient(305deg, rgba(29,29,29,1) 0%, rgba(45,45,45,1) 100%);
        text-align: center;

        &-logo {
            position: absolute;
            right: 20px;
            top: 0;
            height: 100%;

            img {
                position: absolute;
                top: 50%;
                height: 3em;
                width: auto;

                @include transform(translate(-100%, -50%));
            }
        }

        &-title {
            text-align: center;
            color: #bbb;
            padding: 20px 35px;
            font-size: 1.8em;
            font-weight: 400;
            font-family: "Quicksand", sans-serif;

            @include box-shadow(2px -2px 10px rgba(0, 0, 0, 0.3));
        }
    }

    &-content {
        padding: 20px;

        @include transition(all 0.5s ease-in-out);

        &.category {
            position: relative;
            background: var(--primary-color);
            @include box-shadow(2px -2px 10px rgba(0, 0, 0, 0.3));

            .app-content {
                &-right {
                    @include pc {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding-left: calc(33vw + 25px);
                        padding-right: 20px;
                        padding-top: 25px;
                    }

                    @include mobile {
                        padding-top: 15px;
                    }

                    &-title {
                        text-align: center;
                        color: #eee;
                        padding: 20px 35px;
                        font-size: 1.8em;
                        font-weight: 400;
                        font-family: "Quicksand", sans-serif;
                        background: rgba(0, 0, 0, 0.15);
                        border-radius: 3px;
                    }

                    &-description {
                        padding-top: 15px;
                        font-size: 1.2em;
                        color: #eee;

                        @include mobile {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    &-bottom {
        .category-interpretation {
            color: #222!important;
            &-description {
                font-weight: 500!important;
            }
        }
        .category-actor, .category-scenario, .category-interpretation, .category-journey, .category-guides, .category-conflicts, .category-visions, .category-thresholds, .category-symbols, .category-reflections, .category-transitions {
            &:nth-child(2n) {
                background: #2a2a2a;
            }

            background: #333;
            color: #efefef;
            padding: 20px 15px;

            &-left, &-right {
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
            }

            &-left {
                width: calc(100% - 120px);
                padding-right: 10px;           
                &-table {
                    display: table;
                    width: 100%;
                    table-layout: auto;
                    border-collapse: collapse;

                    &-title {
                        font-size: 1.4em;
                        font-weight: 500;
                        padding-bottom: 7px;
                    }

                    &-relation-to {
                        font-size: 1.2em;
                        line-height: 1.5;
                        font-weight: 300;
                    }
                }
            }

            &-right {
                width: 120px;
                font-size: 1.2em;
                vertical-align: middle;
                text-align: right;
            }

            &-title {
                font-size: 1.4em;
                font-weight: 500;
                padding-bottom: 7px;
            }

            &-relation-to, &-description {
                font-size: 1.2em;
                line-height: 1.5;
                font-weight: 300;
            }
        }
    }
}