@import "./mixins.scss";

body {
    padding: 0;
    margin: 0;
    background: #eeeeee;
    font-family: Roboto;
    font-size: 14px;
    color: #333;

    @include mobile {
        font-size: 12px;
    }
}